[Unit]
Description=Chirpstack Network Server
Documentation=https://www.chirpstack.io/

[Service]
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/chirpstack-network-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
