[Unit]
Description=ChirpStack gateway bridge
Documentation=https://www.chirpstack.io/

[Service]
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/chirpstack-gateway-bridge
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
