[Unit]
Description=LoRaWan Gateway

[Service]
WorkingDirectory=/usr/local/lorawan-gateway
ExecStart=/usr/local/lorawan-gateway/launch_m4_wifi.sh
SyslogIdentifier=stm32mp1-lorawan-m4
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
