[Unit]
Description=LoRaWan Gateway

[Service]
WorkingDirectory=/usr/local/lorawan-gateway/chirpstack-server/
ExecStart=/usr/local/lorawan-gateway/chirpstack-server/stm32mp1-chirpstack-server-wifi.sh
SyslogIdentifier=stm32mp1-lorawan-a7
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
